
.icon{
    background-color:#1977F3;
    padding: 10px;
    border-radius: 8px;
}
.icon:hover{
    transition: .5s;
    scale: 1.1;
}



.icon2{
   background-color:  #A03498;
   padding: 10px;
   border-radius: 8px;
}
.icon2:hover{
    transition: .5s;
    scale: 1.1;
}
.icon3{
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
}
.icon3:hover{
    transition: .5s;
    scale: 1.1;
}
.icon4{
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
}
.icon4:hover{
    transition: .5s;
    scale: 1.1;
}
